{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block header %}
    <a href="{% url 'home'%}" class="text-decoration-none text-light navbar-brand label"><h3><span>type</span>blog</h3></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% if request.user.is_authenticated %}
            <li class="nav-item ">
                <a class="nav-link" href="{% url 'write_post' %}"><i class="bi bi-pen"></i>write a post</a>
            </li>
            <li class="nav-item  position-relative">
                <a class="nav-link" href="{% url 'drafts' %}">
                    <i class="bi bi-archive"></i>my drafts
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    {% if drafts == 0 %} 0 {% else %} {{drafts}}{% endif %}
                    <span class="visually-hidden">unread messages</span>
                  </span>
                </a>
            </li>
            
            {% endif %}

        </ul>
        <div class="user-block">
            {% if user.is_authenticated %}
                <a href="{% url 'user_detail' id=user.pk %}" class="navbar-text m-2 text-light">{{ user.get_username }}</a>
                /
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="navbar-text m-2 text-danger btn-link">logout</button>
               </form>
                
            {% else %}
            
                <a href="{% url 'login' %}" class="navbar-text m-2 text-light">login</a>/
                <a href="{% url 'register' %}" class="navbar-text m-2 text-light">register</a>
    
                
            {% endif %}
            
        </div>

    </div>

{% endblock header %}
{%block content %}
<div class="blog_list text-start">

    {% for post in posts %}
    <div class="card bg-dark text-light border-1 border border-light ">
        <div class="card-header d-grid">
          <a href="{% url 'user_detail' id=post.author.pk%}" class="m-2 {% if post.author.is_superuser %}text-danger{% else%}{% if post.author.is_staff%}text-primary{% else %}text-light {% endif %}{% endif %}">{{ post.author }}</a>
          <div class="post-small-details d-flex">
            <p class="m-2"><i class="bi bi-eye m-1"></i>{{post.views}}</p>
            <p class="m-2"><i class="bi bi-calendar-event-fill m-1"></i>{{post.publish|naturaltime}} </p>
            
          </div>
        </div>
        <div class="card-body text-left">
          <h3 class="card-title">{{ post.title }}</h3>
          <p class="card-text">{{ post.body|truncatewords:30|linebreaks }}</p>
          <a href="{{ post.get_absolute_url }}" class="btn btn-primary">Read</a>
          {% if user.pk == post.author.pk %}
          <a href="{% url 'draft_post' id=post.pk %}" class="btn btn-warning">to draft</a>
          
          {% else %}
          {% if user.is_staff %}
          <a href="{% url 'draft_post' id=post.pk %}" class="btn btn-danger">remove</a>
          {% endif %}
          {% endif %}
        </div>
    </div>
    {% endfor %}
    {% include "pagination.html" with page=posts %}
     
      


</div>




{% endblock content %}

{% block scripts%}
{%endblock scripts%}
