{% extends "base.html" %}

{% load static%}
{% block header %}
        <a href="{% url 'home'%}" class="text-decoration-none text-light navbar-brand label"><h3><span>type</span>custom</h3></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a href="#" class="tutorial nav-link" value="0" onclick="tutorialOpener()"><i class="bi bi-keyboard-fill"></i>tutorial</a>
            </li>
            <li class="nav-item">
              <a class="nav-link settings" href="#" value="0" onclick="settingsOpener()"><i class="bi bi-gear-fill"></i>settings</a>
            </li>
          </ul>
          <div class="user-block">
            <a class="navbar-text m-0 text-light">username</a>
        </div>

        </div>
{% endblock header %}

{% block content%}
      <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-header bg-danger">
            
            <strong class="me-auto text-light">Alert</strong>
            <small>11 mins ago</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
          <div class="toast-body bg-dark text-light">
            The length of the text must be longer than 10
          </div>
        </div>
      </div>
      <div class="start-block w-100" value="custom">
        <h1 class="text-light">Welcome to custom mode</h1>
        <p>This is a print practice mode where you can set your own text and practice on it!</p>
        <p>Press Ctrl+Enter to start</p>
      </div>
      <div class="invise-block"><input type="text" class="invisible-input " oninput="inputChecker('custom')"></div>
      <div class="custom-block d-none bg-dark">
        <div class="closable"></div>
        <div class="settings-custom-main" value="custom">
          <h4 class="text-light">Input your text for typing here:</h4>
          <form>
            <textarea class="custom-input"></textarea>
          </form>
          <button class="btn btn-success text-right settings-confirm" onclick="settingsChecker()">Confirm</button>
          
        </div>
      </div>
      
      <div class="test-block">
    
        <div>
    
            <h1 class="text-left text-place">
                
            </h1>
        </div>
        <div class="curr-score d-flex">
            <p class="text-light">Mistakes: <span id="mistakes" class="text-success"></span></p>
            <p class="text-light">Progress: <span id="progress" class="text-success"></span></p>
            <p class="text-light">Correct: <span id="correct" class="text-success"></span></p>
            <p class="text-light">Words: <span id="words" class="text-success"></span></p>
            <p class="text-light">Time: <span id="curr-time" class="text-success"></span> sec</p>
        </div>
    </div>
      <div class="stats-block d-none">
        <h1 class="text-uppercase text-light">good job</h1>

        <div class="curr-score d-flex">
          <p class="text-light">Mistakes: <span id="total-mistakes" class="text-success">0</span></p>
          <p class="text-light">Accuracy: <span id="accuracy" class="text-success">0</span></p>
          <p class="text-light">WPM: <span id="wpm" class="text-success">0</span></p>
          <p class="text-light">LPM: <span id="lpm" class="text-success">0</span></p>
          <p class="text-light">Time: <span id="total-time" class="text-success">0</span> sec</p>
        </div>
        <p>Press Ctrl+Enter to restart</p>
      </div>
     
{% endblock content %}

{% block scripts %}
  <script src="{% static "js/custom.js" %}"></script>
  <script src="{% static "js/tutorial.js" %}"></script>
  <script src="{% static "js/index.js" %}"></script>
  <script src="{% static "js/test.js" %}"></script>
  <script src="{% static "js/text_gen.js" %}"></script>

{% endblock scripts%}
