{% extends "base.html" %}
{% block header %}
<a href="{% url 'home'%}" class="text-decoration-none text-light navbar-brand label"><h3><span>type</span>camp</h3></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'custom'%}"><i class="bi bi-pen-fill"></i>custom</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'test' %}"><i class="bi bi-stopwatch"></i>test</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'game' %}"><i class="bi bi-joystick"></i>game</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'lessons' %}"><i class="bi bi-book-half"></i>lessons</a>
            </li>
            

        </ul>
        <div class="user-block">
            {% if user.is_authenticated %}
                <a href="{% url 'user_detail' user.pk %}" class="navbar-text m-2 text-light">{{ user.get_username }}</a>
                /
                <form method="post" action="{% url 'logout' %}">
                  {% csrf_token %}
                  <button type="submit" class="navbar-text m-2 text-danger btn-link">logout</button>
             </form>
                
            {% else %}
            
                <a href="{% url 'login' %}" class="navbar-text m-2 text-light">login</a>/
                <a href="{% url 'register' %}" class="navbar-text m-2 text-light">register</a>
    
                
            {% endif %}
            
        </div>

    </div>

{% endblock header %}

{% block content %}
<div class="profile-block d-grid justify-content-center  ">
    <h1 class="text-center">Edit profile</h1>
    
    {% if request.user.pk == id or request.user.is_staff %}
    <form action="" method="post">
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        {% if request.user.is_superuser %} {{staff_form.as_p}} {% endif %}
        {% csrf_token %}
        <button class="btn btn-success ">Submit</button>
    </form>
    {% else %}
    <p class="text-danger">You have no permissions to do this</p>
    {% endif %}
</div>

{% endblock content %}