{% extends "base.html" %}
{% load static %}
{% block header %}
    <a href="{% url 'home'%}" class="text-decoration-none text-light navbar-brand label"><h3><span>type</span>camp</h3></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'custom'%}"><i class="bi bi-pen-fill"></i>custom</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'test' %}"><i class="bi bi-stopwatch"></i>test</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'game' %}"><i class="bi bi-joystick"></i>game</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'lessons' %}"><i class="bi bi-book-half"></i>lessons</a>
            </li>
            

        </ul>
        <div class="user-block">
            {% if user.is_authenticated %}
                <a href="{% url 'user_detail' id=user.pk %}" class="navbar-text m-2 text-light">{{ user.get_username }}</a>
                /
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="navbar-text m-2 text-danger btn-link">logout</button>
               </form>
                
            {% else %}
            
                <a href="{% url 'login' %}" class="navbar-text m-2 text-light">login</a>/
                <a href="{% url 'register' %}" class="navbar-text m-2 text-light">register</a>
    
                
            {% endif %}
            
        </div>

    </div>

{% endblock header %}
{%block content %}
<div class="start-block">
    <h1 class="text-light">Welcome to <span class="text-success">type</span>camp</h1>
    <p>We know that in today's world, typing speed is an essential skill for anyone who works at a computer. But how do you develop it? Our training will help you increase your <span class="text-success">typing speed</span>, improve <span class="text-success">accuracy</span>, and make your work at the computer more <span class="text-success">productive</span>.</p>
</div>
{% endblock content %}

{% block scripts%}
<script src="{% static "js/tutorial.js" %}"></script>
{%endblock scripts%}
