{% extends 'base.html' %}
{% load static %}
{% block header %}
<a href="{% url 'home'%}" class="text-decoration-none text-light navbar-brand label"><h3><span>type</span>lessons</h3></a>
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="tutorial nav-link" onclick="tutorialOpener()" value="0"><i class="bi bi-keyboard-fill"></i>tutorial</a>
        </li>
        <li class="nav-item">
            <select class="form-select lang-select" aria-label="select language">
                <option selected value="ru">russian</option>
                <option value="en">english</option>
                
            </select>
        </li>
        

    </ul>
    <div class="user-block">
        {% if user.is_authenticated %}
            <a href="{% url 'user_detail' user.id %}" class="navbar-text m-2 text-light">{{ user.get_username }}</a>
            /
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="navbar-text m-2 text-danger btn-link">logout</button>
           </form>
            
            
        {% else %}
        
            <a href="{% url 'login' %}" class="navbar-text m-2 text-light">login</a> /
            <a href="{% url 'register' %}" class="navbar-text m-2 text-light">register</a>

            
        {% endif %}
        
    </div>

</div>
            
{% endblock header %}
{% block content %}
        <div class="start-block w-100" value="lessons">
            <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button  text-success" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                      LESSON #1
                    </button>
                  </h2>
                  <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionPanelsStayOpenExample">
                    <div class="accordion-body">
                      <h4 class="text-light">LESSON #1</h4>
                      <p class="description">just alphabet: <span class="text-success">abcdef...</span></p>
                      <button class="btn-start-lesson text-uppercase btn btn-success" value="one">start lesson</button>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed text-success" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                        LESSON #2
                    </button>
                  </h2>
                  <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionPanelsStayOpenExample">
                    <div class="accordion-body">
                        <h4 class="text-light">LESSON #2</h4>
                        <p class="description">Letter combinations like: <span class="text-success">ab, ce, jg</span></p>
                        <button class="btn-start-lesson text-uppercase btn btn-success" value="two" >start lesson</button>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed text-success" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                        LESSON #3
                    </button>
                  </h2>
                  <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionPanelsStayOpenExample">
                    <div class="accordion-body">
                        <h4 class="text-light">LESSON #3</h4>
                        <p class="description">Short words like: <span class="text-success">cat, dog</span></p>
                        <button class="btn-start-lesson text-uppercase btn btn-success" value="three">start lesson</button>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed text-success" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                            LESSON #4
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionPanelsStayOpenExample">
                        <div class="accordion-body">
                            <h4 class="text-light">LESSON #4</h4>
                            <p class="description">Long words like: <span class="text-success">Discombobulated</span></p>
                            <button class="btn-start-lesson text-uppercase btn btn-success" value="four">start lesson</button>
                        </div>
                    </div>
                </div>
              </div>
        </div>
        <div class="text-block d-none">
            <div>
    
              <h1 id="text-place" class="text-left">
                <span class="next-letter" value="-1"></span>
              </h1>
            </div>
            <div class="curr-score d-flex">
              <p class="text-light">Mistakes: <span id="mistakes" class="text-success"></span></p>
              <p class="text-light">Progress: <span id="progress" class="text-success"></span></p>
              <p class="text-light">Correct: <span id="correct" class="text-success"></span></p>
              <p class="text-light">Words: <span id="words" class="text-success"></span></p>
              <p class="text-light">Time: <span id="curr-time" class="text-success"></span> sec</p>
            </div>
        </div>
        <div class="stats-block d-none">
            <h1 class="text-uppercase text-light">good job</h1>

            <div class="curr-score d-flex">
                <p class="text-light">Mistakes: <span id="total-mistakes" class="text-success">0</span></p>
                <p class="text-light">Accuracy: <span id="accuracy" class="text-success">0</span></p>
                <p class="text-light">WPM: <span id="wpm" class="text-success">0</span></p>
                <p class="text-light">LPM: <span id="lpm" class="text-success">0</span></p>
                <p class="text-light">Time: <span id="total-time" class="text-success">0</span> sec</p>
            </div>
            <button class="btn btn-light text-uppercase return-btn">return</button>
        </div>
{% endblock content%}

{% block scripts %}
    <script src="{% static 'typeapp/js/text_generating.js' %}"></script>
    <script src="{% static 'typeapp/js/lessons.js' %}"></script>
    <script src="{% static 'typeapp/js/index.js' %}"></script>
{% endblock scripts %}