{% extends "base.html" %}
{% load static %}
{% block header %}
    <a href="{% url 'blog_list'%}" class="text-decoration-none text-light navbar-brand label"><h3><span>type</span>blog</h3></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% if request.user.is_authenticated %}
            <li class="nav-item ">
                <a class="nav-link" href="{% url 'write_post' %}"><i class="bi bi-pen"></i>write a post</a>
            </li>
            {% endif %}

        </ul>
        <div class="user-block">
            {% if user.is_authenticated %}
                <a href="{% url 'user_detail' id=user.pk %}" class="navbar-text m-2 text-light">{{ user.get_username }}</a>
                /
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="navbar-text m-2 text-danger btn-link">logout</button>
               </form>
                
            {% else %}
            
                <a href="{% url 'login' %}" class="navbar-text m-2 text-light">login</a>/
                <a href="{% url 'register' %}" class="navbar-text m-2 text-light">register</a>
    
                
            {% endif %}
            
        </div>

    </div>

{% endblock header %}
{%block content %}
<div class="post_detail text-start">

    
    <div class="card bg-dark text-light border-1 border border-light ">
        <div class="card-header d-grid">
            <a href="{% url 'user_detail' id=post.author.pk%}" class="m-2 {% if post.author.is_superuser %}text-danger{% else%}{% if post.author.is_staff%}text-primary{% else %}text-light {% endif %}{% endif %}">{{ post.author }}</a>
            <div class="post-small-details d-flex">
              <p class="m-2"><i class="bi bi-eye m-1"></i>{{post.views}}</p>
              <p class="m-2"><i class="bi bi-calendar-event-fill m-1"></i>{{post.publish}} </p>
              
            </div>
          </div>
        <div class="card-body text-left">
            {% if post.photo %}
            <h1 class="card-title">{{ post.title }}</h1>
            <img class="text-center" src="{{post.photo.url}}" alt="">
            {% endif %}
          <p class="card-text text-light">{{ post.body|linebreaks }}</p>
          <div class="comments">
              {% if user.is_authenticated %}
                <form action="." method="post">
                    
                    {% csrf_token %}
                        <div class="d-grid">
                            <div>
                                {{ comment_form.as_p }}
                            </div>
                            <button class="btn btn-outline-success" type="submit" id="button-addon1">submit</button>
    
                        </div>
                    
                </form>
              {% endif %}
              <h4 class="text-light">Comments</h4>
              {% if comments|length == 0 %}
              <p class="m-3">No comments yet</p>
              {% endif %}
              {% for comment in comments%}
              <div class="comment">
                    <a href="{% url 'user_detail' id=comment.user.pk%}" class="m-2 {% if comment.user.is_superuser %}text-danger{% else%}{% if comment.user.is_staff%}text-primary{% else %}text-light {% endif %}{% endif %}">{{ comment.user.username }}</a>
                    <div class="comment-body d-grid">
                        <p class="comment-text">{{comment.text}}</p>
                        <div>
                            <p>{{comment.date}}</p>
                            {% if user.is_staff or user.pk == comment.user.pk %}
                            <a href="{% url 'delete_comment' id=comment.pk %}" class="delete-link text-danger"><i class="bi bi-trash3 text-danger"></i></a>
                            {% endif %}
                        </div>
                    </div>
                    
              </div>
              {% endfor %}

          </div>
        </div>
    </div>
    
     
      


</div>




{% endblock content %}

{% block scripts%}
{%endblock scripts%}
