{% extends "base.html" %}
{% block header %}
<a href="{% url 'home'%}" class="text-decoration-none text-light navbar-brand label"><h3><span>type</span>camp</h3></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'custom'%}"><i class="bi bi-pen-fill"></i>custom</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'test' %}"><i class="bi bi-stopwatch"></i>test</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'game' %}"><i class="bi bi-joystick"></i>game</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'lessons' %}"><i class="bi bi-book-half"></i>lessons</a>
            </li>
            

        </ul>
        

    </div>

{% endblock header %}

{% block content %}
<div class="profile-block ">
    <h1 class="m-2 text-light">{{ profile.user.username }}</h1>
    <h5 class="text-left">"{{profile.quote}}"</h5>
    <h2 class="text-light">Typing statistic</h2>
    <div class="profile-stats">
        <div><h4>accuracy</h4><span class="text-success profile-stats-num">{{ total_accuracy }}%</span></div>
        <div><h4>WPM</h4><span class="text-success profile-stats-num">{{ total_wpm }}</span></div>
        <div><h4>LPM</h4><span class="text-success profile-stats-num">{{ total_lpm }}</span></div>
    </div>
    <h2 class="text-light">Total statistic</h2>
    <div class="profile-stats">
        <div><h4>Tests opened</h4><span class="text-success profile-stats-num">{{ total_tests_cnt }}</span></div>
        <div><h4>Total time in test</h4><span class="text-success profile-stats-num">{{ total_time }}</span></div>
        <div><h4>Total mistakes</h4><span class="text-success profile-stats-num">{{ total_mistakes }}</span></div>
    </div>

</div>

{% endblock content %}